@media (max-width: 1800px) {
  .header__inner {
    padding-left: 100px;
  }
}

@media (max-width: 1600px) {
  .header__inner {
    padding-left: 220px;
  }

  .main__social {
    left: 100px
  }
}
@media(max-width: 1550px) and (min-width: 1280px) {
  .site__reason {
    max-width: calc(50% - 170px);
    width: 100%;
  }
  .site-left-menu {
    max-width: 170px;
    min-width: 170px;
    position: relative;
  }
  
  .section .container {
    padding-left: 200px;
  }
  .site .container {
    padding-left: 10px;
  }
  .main {
    padding-top: 100px;
    &__title {
      font-size: 41px;
    }
  }
  .main__subtitle  {
    font-size: 27px;
    line-height: 38px;
  }
}
@media (max-width: 1450px) {

  .works-item,
  .works-item__null {
    width: 270px;
    height: 240px;
  }

  .null-btn {
    min-height: 42px;
    width: 161px;
    margin-top: 50px;
    font-size: 10px;
    left: 10px;
  }

  .works-item__title {
    top: 10px;
    font-size: 20px;
    line-height: 26px;
  }

  .works-item__inner {
    padding-top: 68px;
  }

  .works-item_descr {
    font-size: 12px;
    line-height: 16px;
  }

  .promise-item {
    padding-left: 100px;
  }
  .promise-item img {
    max-width: 80px;
    height: 80px;
  }
}

@media (max-width: 1350px) {
  .header__inner {
    padding-left: 260px;
  }

  .main__social {
    left: 20px
  }

  .header__text {
    display: none;
  }
}



@media (max-width: 1250px) {
  .site-item p {
    margin-left: 10%;
  }

  .promise-item img {
    max-width: 80px;
    height: 74px;
  }

  .promise-item {
    padding-left: 90px;
  }
}

@media (max-width: 1150px) {
  .site-item p {
    margin-left: 15px;
  }

  .site__list li {
    font-size: 30px;
    line-height: 36px;
  }

  .promise-item__wrap {
    display: block;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .promise-item {
    margin-bottom: 35px;
  }

  .promise__title {
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 40px;
    padding-top: 40px;
  }
}

@media (max-width: 1100px) {
  .first-step__title {
    max-width: 760px;
    font-size: 37px;
    line-height: 42px;
  }

  .site {
    background-image: url(../images/site/men-little.jpg);
  }

  .site__inner {
    display: block;
  }

  .site__reason {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .site__list {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

  .site__list li {
    padding-left: 0;
    margin-bottom: 25px;

    &::before {
      display: none;
    }
  }

  .site__list ul {
    margin-top: 12px;
  }

  .site__inner {
    height: auto;
  }

  .site {
    padding-top: 0;
  }

  .site-item__wrap {
    right: 0;
    width: 0px;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    // padding: 30px 0px;
    &.active {
      display: flex;
      overflow: visible;
      width: 100%;
    }
  }

  .site-item {
    display: none;

    &.active {
      width: 80%;
      display: block;
    }
  }

  // .site__list:hover {
  //   .site-item__wrap {
  //     width: 100%;
  //     overflow: visible;
  //   }
  // }

  .site-item {
    transition: .7s;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 1;
    z-index: 3;
    height: 420px;
    border-radius: 5px;

    p {
      opacity: 1;
      margin: 0;
      font-size: 15px;
      line-height: 19px;
      padding: 30px;
    }

    .close {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 10px;
      top: 10px;
      display: inline-block;

      &::after,
      &::before {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  .main__inner {
    max-width: 505px;
  }

  .main__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 35px;
    padding-bottom: 35px;

    &::after {
      height: 3px;
    }
  }

  .main__btn-get {
    width: 260px;
    min-height: 65px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 50px;
  }

  .suptitle {
    margin-bottom: 16px;
  }

  .about__text {
    font-size: 22px;
    margin-bottom: 25px;
  }

  .title-left {
    margin-left: 80px;
  }

  .first-step__title {
    max-width: 760px;
    font-size: 37px;
    line-height: 42px;
  }

  .advantages__view {
    display: none;
  }

  .advantages__info .tabs {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__info .tab {
    width: 26%;
    padding: 0;
    height: auto;
    margin-bottom: 18px;
  }

  .advantages__inner {
    justify-content: center;
  }

  .advantages__info .tab:hover {
    box-shadow: none;
  }

  .main__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 35px;
    padding-bottom: 35px;
  }

  .header__text {
    display: none;
  }

  .main {
    padding-top: 80px;
  }

  .header-logo {
    img {
      width: 160px;
    }
  }

  .works-item,
  .works-item__null {
    width: 266px;
    height: 211px;
  }

  .null-title {
    padding-top: 35px;
    font-size: 20px;
    line-height: 26px;
  }

  .works__item-wrap {
    margin-right: -15px;

    .slick-slide {
      margin-right: 10px;
    }
  }

  .works__title {
    font-size: 30px;
    line-height: 40px;
  }

  .customers__text {
    font-size: 16px;
    line-height: 22px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .customers__rate {
    margin-top: 50px;
  }

  .customers__title {
    margin-bottom: 60px;
    font-size: 44px;
    line-height: 44px;
  }

  .customers_suptitle {
    font-size: 20px;
    line-height: 20px;
  }

  .customers-prev {
    left: 0;
  }

  .customers-next {
    right: 0;
  }
}

@media (max-width: 1023px) {
  .promise-item__title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 17px;
  }

  .promise-item__text {
    font-size: 14px;
    line-height: 18px;
  }

  .services .slick-prev,
  .services .slick-next {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    background-image: url(../images/btn.png);
    font-size: 0;
    position: absolute;
    top: 100%;
    margin-top: 45px;
    right: 50%;
    transform: translateY(-50%) rotate(180deg);
    z-index: 5;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
  }

  .services .slick-next {
    transform: translateY(-50%) rotate(0);
    right: 0;
    left: 50%;

    &.slick-disabled {
      background-image: url(../images/btn-dis.png);
      transform: translateY(-50%) rotate(180deg);
    }

    &:hover {
      background-image: url(../images/btn-hover.png);
      transform: translateY(-50%) rotate(0deg);
    }
  }

  .services .slick-prev {
    &.slick-disabled {
      transition: 0;
      background-image: url(../images/btn-dis.png);
      transform: translateY(-50%) rotate(0deg);
    }

    &:hover {
      background-image: url(../images/btn-hover.png);
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .main__inner::after {
    display: none;
  }

  .offer__inner::after {
    left: 62%;
  }
  .works-item {
    &::before {
      background-color: rgba($red, 0.9);
    }
  }
  .works-item__inner {
    opacity: 1;

    &::after {
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: scale(1, 1);
      opacity: 1;
    }

    &::before {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: scale(1, 1);
      opacity: 1;
    }
  }
}

@media (max-width: 825px) {
  .title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .suptitle {
    margin-bottom: 15px;
    line-height: 18px;
    font-size: 18px;
    padding-top: 40px;
  }

  .about__text {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
  }

  .title-left {
    margin-left: 0px;
  }

  .about-item__num {
    font-size: 40px;
    padding-right: 5px;
    margin-right: 5px;
  }

  .about-item__content {
    font-size: 16px;
    line-height: 16px;
  }

  .first-step__title {
    max-width: 640px;
    font-size: 30px;
    line-height: 33px;
  }

  .advantages__title {
    text-align: left;
  }

  .main__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 29px;
    padding-bottom: 29px;

    &::after {
      width: 30px;
    }
  }

  .header__inner {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 23px;

    a {
      display: block;
      border-bottom: none;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    .header__btn {
      display: none;
    }
  }

  .main__social {
    display: none;
  }

  .main__menu.active {
    padding-left: 65%;
  }

  .offer__title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 35px;
  }

  .services .title-right {
    max-width: 200px;
    margin-left: auto;
  }
}

@media (max-width: 650px) {
  .site__inner {
    padding-top: 25px;
  }

  .about__text {
    font-size: 16px;
    line-height: 18px;
  }

  .about-item__num {
    font-size: 28px;
  }

  .about-item__content {
    font-size: 12px;
    line-height: 12px;
  }

  .title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 18px;
  }

  .about-item__wrap {
    margin-top: 10px;
  }

  .first-step__title {
    font-size: 26px;
    line-height: 36px;
  }

  .site__list li {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  .site__title {
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 15px;
  }

  .site__text {
    font-size: 14px;
    line-height: 16px;
  }

  .suptitle {
    padding-top: 0;
  }

  .header-logo img {
    width: 120px;
  }

  .main__title {
    font-size: 30px;
    line-height: 40px;
  }

  .wrap-burger {
    height: 60px;
  }

  .main__menu {
    top: 60px;
  }

  .header-burger {
    top: 20px;
    right: 15px;
  }

  .header__inner {
    padding-left: 15px;
  }

  .header-wrap {
    background-image: url(../images/header/header-bg2.jpg);
    background-position: -720px;
  }

  .site-item.active {
    width: 90%;
  }

  .customers__text {
    font-size: 10px;
    line-height: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .customers__rate {
    margin-top: 15px;
  }

  .customers__rating {
    margin-bottom: 8px;
  }

  .customers__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }

  .customers_suptitle {
    font-size: 20px;
    line-height: 20px;
  }

  .customers {
    .title-right {
      margin-left: auto;
      max-width: 210px;
    }
  }

  .rate-slider__item+.rate-slider__item {
    margin-left: 5px;
  }

  .customers-btn {
    display: none !important;
  }

  .customers-btn {
    display: none !important;
  }

  .offer__btn {
    font-size: 14px;
    width: 242px;
    min-height: 55px;
    margin-right: auto;
  }

  .offer__title {
    @include sf400;
    font-size: 27px;
    margin-left: -7px;
    margin-right: -7px;
  }

  .promise-item__text {
    font-size: 12px;
    line-height: 16px;
  }

  .promise__title {
    margin-left: 0;
  }

  .footer__title {
    font-size: 28px;
    line-height: 28px;
  }

  .footer .line {
    max-width: 100%;

    input {
      max-width: 170px;
      padding: 7px 7px 7px 0px;
      position: relative;
      z-index: 2;
      &::placeholder {
        font-size: 11px;
      }
    }
  }
  .button {
    height: 46px;
  }

  .footer label {
    font-size: 12px;
    top: 7px;
    z-index: 1;
  }

  .footer .line2 {
    input {
      max-width: 100%;
    }

    margin-bottom: 30px;
  }

  .footer .line input:valid+label {
    top: -15px;
  }

  .footer input:focus+label {
    top: -15px;
  }

  .footer button {
    max-width: 176px;
    min-height: 45px;
    font-size: 10px;
    margin-bottom: 17px;
  }

  .footer-flex {
    display: block;
  }

  .footer__subtitle {
    margin-bottom: 50px;
    font-size: 12px;
  }

  .footer__signature {
    margin-left: 0;
  }
  .protect {
    width: 100%;
    max-width: 90%;
    max-height: 460px;
    overflow-y: scroll;
  }
  .protect__inner {
    padding: 15px 10px;
  }
  .protect__title {
    margin-bottom: 5px;
    font-size: 21px;
    line-height: 24px;
  }
  .protect li {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 14px;
  }
  .services .slick-list .slick-track {
    padding: 35px;
  }
}

@media (max-width: 550px) {

  .services-tariff__name {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  .services-tariff__price {
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 18px;

    span {
      font-size: 18px;
    }
  }

  .services-tariff__list {
    li {
      font-size: 10px;
      line-height: 10px;
      margin-bottom: 12px;
    }
  }

  .services-tariff__btn {
    margin-top: 25px;
    font-size: 10px;
    line-height: 10px;
    width: 90px;
    min-height: 21px;
  }

  .services-tariff__wrap {
    max-width: 205px;
    margin-left: auto;
    margin-right: auto;
  }

  .services .services-tariff {
    width: 185px !important;
    margin-left: 20px;
    margin-right: 20px;
  }

  .services .title-right {
    max-width: 140px;
    margin-left: auto;
  }

}

@media (max-width: 530px) {
  .header-logo {
    left: 16px;
    top: 20px;
  }

  .header__inner {
    padding-top: 18px;

    a {
      font-size: 12px;
      line-height: 14px;
      max-width: 125px;
    }
  }

  .main__menu.active {
    padding-left: 0px;
  }

  .main__title {
    font-size: 30px;
    line-height: 40px;
  }

  .main__subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .main__btn-get {
    width: 242px;
    min-height: 60px;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .main {
    padding-top: 50px;
  }
  .services .slick-prev,
  .services .slick-next{
    margin-top: 0;
  }
  .works-btn  {
    margin-top: 15px;
  }
}

@media (max-width: 470px) {
  .about-item__num {
    font-size: 24px;
    line-height: 24px;
    padding-right: 2px;
    margin-right: 0px;
  }

  .about-item__content {
    font-size: 7px;
    line-height: 9px;
  }

  .about__text {
    font-size: 14px;
    line-height: 16px;
  }

  .advantages__info .tab {
    width: 100%;
    max-width: 45%;
  }

  .header-logo img {
    width: 76px;
  }

  .footer__signature p {
    margin-left: 0;
    font-size: 4px;
    line-height: 9px;
  }

  .header-burger.white {
    .me {
      color: #fff;
    }

    .nu {
      color: #fff;
    }

    span {
      background-color: #fff;
    }
  }
}

@media (max-height: 566px) {
  .header {
    margin-top: 40px !important;
  }
  .wrap-burger {
    width: 100% !important;
  }
  .header-burger {
    .me {
      color: #fff !important;
    }

    .nu {
      color: #fff !important;
    }

    span {
      background-color: #fff !important;
    }
  }
  html {
    width: 100%;
    overflow-x: hidden;
  }
}